on:
  workflow_dispatch:
  push:
    branches:
    - main

permissions:
  contents: read

name: main
jobs:
  test-signing:
    name: Test code-signing action
    runs-on: windows-2025

    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd #v6.0.2
        with:
          persist-credentials: false

      - name: Prepare files to sign
        shell: cmd
        run: |
          mkdir files-to-sign
          copy %WINDIR%\system32\kernel32.dll files-to-sign

      - name: Sign files
        uses: ./actions/code-signing
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          directory: ${{ github.workspace }}\files-to-sign
